.DS_Store
tests/wp-tests-config.php
vendor
vendor-prefixed
bin
wpcs
build/logs/clover.xml
composer.lock
coverage.xml
.phpunit.result.cache
node_modules
coverage
build
clover.xml
tests/e2e/results
tests/e2e/config/.auth
