parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method WP_Document_Revisions_Admin\:\:sanitize_document_link_date\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/class-wp-document-revisions-admin.php

		-
			message: '#^Filter callback return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: includes/class-wp-document-revisions-admin.php

		-
			message: '#^Method WP_Document_Revisions_Admin\:\:sanitize_link_date\(\) should return string but returns bool\.$#'
			identifier: return.type
			count: 1
			path: includes/class-wp-document-revisions-admin.php

		-
			message: '#^Parameter \#1 \$args of function wp_dropdown_users expects array\{show_option_all\?\: string, show_option_none\?\: string, option_none_value\?\: int\|string, hide_if_only_one_author\?\: string, orderby\?\: array\|string, order\?\: string, include\?\: array\<int\>\|string, exclude\?\: array\<int\>\|string, \.\.\.\}, array\{name\: ''author'', show_option_all\: string, value_field\: ''slug'', selected\: string\|false\|null, orderby\: ''name'', order\: ''ASC'', wpdr_added\: ''list'', has_published_posts\: array\{''document''\}\} given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions-admin.php

		-
			message: '#^Parameter \#1 \$post of function clean_post_cache expects int\|WP_Post, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions-admin.php

		-
			message: '#^Parameter \#3 \$deps of function wp_enqueue_style expects array\<string\>, null given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions-admin.php

		-
			message: '#^Parameter \#1 \$term of function get_term expects int\|object, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions-front-end.php

		-
			message: '#^Parameter \#1 \$text of function esc_html expects string, \(int\|false\) given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions-front-end.php

		-
			message: '#^Parameter \#3 \$deps of function wp_enqueue_style expects array\<string\>, null given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions-front-end.php

		-
			message: '#^Method WP_Document_Revisions_Recently_Revised_Widget\:\:update\(\) should return array but returns ArrayAccess\.$#'
			identifier: return.type
			count: 1
			path: includes/class-wp-document-revisions-recently-revised-widget.php

		-
			message: '#^Parameter \#1 \$instance \(object\) of method WP_Document_Revisions_Recently_Revised_Widget\:\:form\(\) should be compatible with parameter \$instance \(array\<string, mixed\>\) of method WP_Widget\<array\<string, mixed\>\>\:\:form\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: includes/class-wp-document-revisions-recently-revised-widget.php

		-
			message: '#^Parameter \#1 \$new_instance \(object\) of method WP_Document_Revisions_Recently_Revised_Widget\:\:update\(\) should be compatible with parameter \$new_instance \(array\<string, mixed\>\) of method WP_Widget\<array\<string, mixed\>\>\:\:update\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: includes/class-wp-document-revisions-recently-revised-widget.php

		-
			message: '#^Parameter \#2 \$instance \(object\) of method WP_Document_Revisions_Recently_Revised_Widget\:\:widget\(\) should be compatible with parameter \$instance \(array\<string, mixed\>\) of method WP_Widget\<array\<string, mixed\>\>\:\:widget\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: includes/class-wp-document-revisions-recently-revised-widget.php

		-
			message: '#^Parameter \#2 \$instance of method WP_Document_Revisions_Recently_Revised_Widget\:\:widget_gen\(\) expects object, array given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions-recently-revised-widget.php

		-
			message: '#^Parameter \#2 \$instance of method WP_Document_Revisions_Recently_Revised_Widget\:\:widget_gen\(\) expects object, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions-recently-revised-widget.php

		-
			message: '#^Parameter \#2 \$old_instance \(object\) of method WP_Document_Revisions_Recently_Revised_Widget\:\:update\(\) should be compatible with parameter \$old_instance \(array\<string, mixed\>\) of method WP_Widget\<array\<string, mixed\>\>\:\:update\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: includes/class-wp-document-revisions-recently-revised-widget.php

		-
			message: '#^Expected 3 @param tags, found 2\.$#'
			identifier: paramTag.count
			count: 1
			path: includes/class-wp-document-revisions-validate-structure.php

		-
			message: '#^Parameter \#1 \$post_id of function get_post_meta expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions-validate-structure.php

		-
			message: '#^@param string \$user does not accept actual type of parameter\: int\<min, \-1\>\|int\<1, max\>\|false\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Action callback returns string but should not return anything\.$#'
			identifier: return.void
			count: 2
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Call to function is_array\(\) with list\<mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Callback expects 1 parameter, \$accepted_args is set to 2\.$#'
			identifier: arguments.count
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Default value of the parameter \#1 \$document_or_attachment \(string\) of method WP_Document_Revisions\:\:get_file_type\(\) is incompatible with type int\|object\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Method WP_Document_Revisions\:\:get_revision_number\(\) should return int but returns false\.$#'
			identifier: return.type
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Method WP_Document_Revisions\:\:get_revisions\(\) should return array but returns false\.$#'
			identifier: return.type
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Parameter \#1 \$headers of method WP_Document_Revisions\:\:serve_headers\(\) expects array\<string\>, array\<string, int\<0, max\>\|string\|false\> given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Parameter \#1 \$headers of method WP_Document_Revisions\:\:serve_headers\(\) expects array\<string\>, array\<string, int\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Parameter \#1 \$post of function wp_check_post_lock expects int\|WP_Post, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Parameter \#1 \$post of function wp_set_post_lock expects int\|WP_Post, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Parameter \#1 \$post_id of method WP_Document_Revisions\:\:send_override_notice\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Parameter \#1 \$user_id of function get_userdata expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Parameter \#2 \$gmt of function get_post_modified_time expects bool, null given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Strict comparison using \=\=\= between null and \*NEVER\* will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 3
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Variable \$comp_type might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: includes/class-wp-document-revisions.php

		-
			message: '#^Parameter \#1 \$timezone of function get_lastpostmodified expects ''blog''\|''gmt''\|''server'', ''GMT'' given\.$#'
			identifier: argument.type
			count: 1
			path: includes/revision-feed.php
