name: Update README

on:
    push:
        branches:
            - main
        paths:
            - 'docs/*.md'
    workflow_dispatch: {}

jobs:
    build_readme:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup Ruby
              uses: ruby/setup-ruby@v1
              with:
                  ruby-version: '3.0'

            - name: Build readme
              run: script/build-readme

            - name: Create Pull Request
              uses: peter-evans/create-pull-request@v8
              with:
                  commit-message: Update README
                  branch: update-pull-request/readme
                  title: Update README
